@import 'https://fonts.googleapis.com/css?family=Nova+Mono|Eczar';

#body {
    background: linear-gradient(to right, rgb(14, 14, 14), #002291);
    color: white;
}

#time {
    font-family: 'Nova Mono', monospace;
    font-size: 10vw;
    text-align: center;
    text-shadow: 0px 0px 20px blue;
}

#date {
    font-family: 'Eczar', serif;
    font-size: 10vw;
    text-align: center;
    text-shadow: 0px 0px 20px blue;
}